@use "variables" as *;
@use "mixins" as *;
@use "fonts" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: $budget-green;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: $bloom-black;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: $bloom-black;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: $bloom-black;
}

button {
  @extend p;
  border: 0.5px solid $bloom-pink;
  border-radius: 2px;
  height: 1.875rem;
  transition: background-color 0.2s ease-in;
  color: $bloom-black;

  &:hover {
    background-color: $bg-bloom;
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }
}
