@use "variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin padding-components {
  padding: 0 16px;
  @include tablet {
    padding: 0 2rem;
  }
}

@mixin row-cells {
  display: flex;
  justify-content: end;
  padding: 0.2rem 0;
  width: 100%;
}


@mixin title-cells {
  justify-content: end;
  justify-self: end;
  margin-right: 0.8rem;
}

@mixin cells {
  padding: 0.25rem;
  margin-right: 0.5rem;
  width: 6vw;
 text-align: end;
}