/* --breakpoints-- */
$mobile-min-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
/* --Background Colors-- */
$bg-bloom: #F2D5E5;
$bg-cream: #f1f1f1;
/* --Primary Colors-- */
$bloom-black: #1a1a1a;
$bloom-pink: #DC63A5;
$budget-green: #158463;
/* --Secundary Colors-- */
$c-gray: #797979;
$c-red: #c94515;
$c-white: #ffffff;

