/* --breakpoints-- */
$mobile-min-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
/* --Background Colors-- */
$bg-bloom: #D9B4D5;
$bg-cream: #f1f1f1;
/* --Primary Colors-- */
$bloom-black: #3D3D3E;
$bloom-pink: #DC63A5;
$bloom-lila: #4A2D73;
/* --Secundary Colors-- */
$c-pink: #F2D5E5;
$c-grey: #d4d3d3;
$c-green: #158463;
$c-red: #c94515;
$c-white: #ffffff;

