@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.view {
  // display: none;
  margin-top: 1rem;
  @include tablet {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    border: 1px solid $bloom-lila;
    padding: 0.5rem;
    background-color: $c-white;

    &:hover {
      background-color: $bg-bloom;
    }

    &:focus {
      background-color: $bg-bloom;
    }

    &--left {
      border-radius: 20px 0 0 20px;
      padding-left: 1rem;
    }

    &--right {
      border-radius: 0 20px 20px 0;
      padding-right: 1rem;
    }
  }
}

.calendar {
  @include row-cells;
  margin-top: 1rem;
  border-top: 2px solid $bloom-pink;
  border-bottom: 2px solid $bloom-pink;
  background-color: $c-pink;
  padding: 0 1rem;
  &__space {
    @include title-cells;
  }

  &__month {
    @include cells;
  }
}

.acctions {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  margin-bottom: 2rem;
  &__button {
    width: 100%;
    background-color: $c-pink;
    @include tablet {
      width: 10vw;
    }
  }
}
