@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.view {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  @include desktop {
  }

  &__button {
    padding: 0 1rem;
    width: auto;
    margin: 0.1rem;

    &--left {
      border-radius: 1.25rem 0.125rem 0.125rem 1.25rem;
      padding-left: 1.5rem;
    }

    &--center {
      border-radius: 0.125rem 1.25rem 1.25rem 0.125rem;
      padding-right: 1.5rem;

      @include desktop {
        border-radius: 2px;
        padding-right: 0.5rem;
      }
    }

    &--right {
      display: none;

      @include desktop {
        display: block;
        border-radius: 0.125rem 1.25rem 1.25rem 0.125rem;
        padding-right: 1.5rem;
      }
    }
  }
}

.calendar {
  margin-top: 1rem;
  border-top: 2px solid $bloom-pink;
  border-bottom: 2px solid $bloom-pink;
  background-color: $bg-bloom;
  padding: 0.5rem 1rem;
  @include row-cells;

  &__space {
    display: none;

    @include tablet {
      @include title-cells;
    }
  }

  &__month {
    height: auto;
    margin-bottom: 0;
    @include cells;
  }
}

.acctions {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  margin-bottom: 2rem;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.4rem;
    background-color: $bg-bloom;
    height: 2.5rem;

    @include tablet {
      width: 15rem;
    }
  }
}

.gif-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  border: 2px solid $bg-cream;
  background-color: #d6cae9;

  &__text {
    padding-right: 0 1rem;
    width: 40vw;
    text-align: start;
    padding: 1rem;

    @include tablet{
      padding: 3rem;

    }
  }

  &__gif {
    width: 8rem;
    margin: 1rem 4rem 1rem 1rem;

    @include tablet {
      width: 17rem;
    }
  }
}
