@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
  background-color: $bg-cream;

  @include tablet {
    padding: 2.5rem 0;
  }
  
  @include desktop {
    padding: 3rem 0;
  }

  &__text {
    font-size: 0.6875rem;
    color: $c-gray;
    margin: 0;
    @include tablet {
      font-size: 0.75rem;
    }
  }
}

.socials{
margin: 0 0.5rem ;
  &__icon {
    z-index: 1;
    font-size: 0.6875rem;
    color: $c-gray;
    margin: 0 0.2rem ;
    @include tablet {
      font-size: 0.75rem;
    }
  }

}