@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  box-shadow: 1px 2px 2px 1px #4a2d7370;
  background-color: $bg-cream;

  &__title {
    text-transform: uppercase;
  }
}

.table-row {
  @include row-cells;
  border-top: 1px solid $bloom-pink;
  &--borderless {
    border-top: none;
  }

  &__title {
    width: auto;
    color: $bloom-pink;
    @include title-cells;
  }

  &__cell {
    @include cells;
    font-weight: 500;

    &--red {
      color: $c-red;
      font-size: 0.875rem;
    }

    &--green {
      color: $c-green;
      font-size: 0.875rem;
    }
  }
}
