@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
  box-shadow: 1px 2px 2px 1px #4a2d7370;
  background-color: $bg-cream;

  &__title {
    text-transform: uppercase;
  }

  @include tablet{
    padding: 0.5rem 1rem;
  }
}

.table-row {
  border-top: 1px solid $bloom-pink;
  @include row-cells;
  
  @include tablet{
    width: auto;
    margin-bottom: 0;
  }
  
  &--borderless {
    border-top: none;
  }

  &__title {
    color: $bloom-pink;
    width: auto;
    @include title-cells;
  }

  &__cell {
    font-weight: 500;
    @include cells;
    
    &--red {
      color: $c-red;
      font-size: 0.9375rem;
      font-weight: 600;
    }

    &--green {
      color: $c-green;
      font-size: 0.9375rem;
      font-weight: 600;
    }
  }
}
